@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #F4F4F4;
    color: #333;
}

header {
    background: #006C67;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

header img {
    height: 50px;
    margin-right: 15px;
}

header h1 {
    margin-top: 18px;
    font-size: 24px;
    margin-left: -10px;
}

main {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #FDBF00;
}

.form-label {
    font-weight: 500;
    color: #006C67;
}

#jaSofreuManutencao option:hover {
    background-color: #006C67 !important;
    color: white !important; 
}

.btn-primary {
    background-color: #FDBF00;
    border: none;
    color: #333;
    width: 20%;
    font-size: 18px;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
    background-color: #E5A500 !important;
}

.botao-alerta {
    background-color: #FDBF00 !important;
    color: #333 !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.botao-alerta:hover {
    opacity: 0.9;
    color: white !important;
}

footer {
    background: #006C67;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
